%h1 Listing venues

%table
  %thead
    %tr
      %th Name
      %th Website
      %th Address
      %th
      %th
      %th

  %tbody
    - @venues.each do |venue|
      %tr
        %td= venue.name
        %td= venue.website
        %td= venue.address
        %td= link_to 'Show', venue
        %td= link_to 'Edit', edit_venue_path(venue)
        %td= link_to 'Destroy', venue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Venue', new_venue_path
